body, html{
    margin:0;
    padding:0;
    background-color:#292929;
    width: 320x;
}

h3 {
    color: blue;
    font-family: "Comic Sans MS";
    padding: 0 0 0 5px;;
}

.center_wrap {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 4px grey;
    /* padding: 0 0 0 5px; */
    padding: 0px;
    width: 300px;
}

/* Search Box 240---------------*/
/* #dictionarySelector240:hover
{
    background:url(./image/lang-hover.png) no-repeat;
}

#search-btn240:hover
{
    background:url(./image/search-hover.png)!important;
}
#search-btn240:active
{
    background:url(./image/search-active.png)!important;
}

#cambridge_seachbox
{
    width:240px; height: 80px; border-color: #000; border-width:1; background:url('./image/widget240.png') no-repeat
}

#cambridge_oldform
{
    display:inline-block;margin:40px 0 0 10px;
} */

/* Search Box 320---------------*/

#btn_cambridge_search:hover{
    background-color: #af8a40 !important;
} 

#btn_deepl_search:hover{
    background-color: #af8a40 !important;
} 

/* 
#cambridge_seachbox
{
    width:320px; height: 80px; border-color: #000; border-width:1; background:url('./image/widget320.png') no-repeat
}

#cambridge_oldform
{
    display:inline-block;margin:40px 0 0 10px;
} */

.wl-table 
{
    width: 100%;
    text-indent: 5px;
    margin-top: 0px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-collapse: separate;
}

tr:first-child 
{
    background: #292929;
    color: white;
    /* text-align: center; */
    
}

/* tr:hover 
{
    background-color: #f5f5f5;
} */

tr:nth-child(even) {background-color: #2929290c;}
